@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #171717;
  --card: #ffffff;
  --card-foreground: #0c0c1b;
  --popover: #ffffff;
  --popover-foreground: #0c0c1b;
  --primary: #2a1c66;
  --primary-foreground: #fcfbff;
  --secondary: #f6f5ff;
  --secondary-foreground: #2a1c66;
  --muted: #f6f5ff;
  --muted-foreground: #817bbd;
  --accent: #f6f5ff;
  --accent-foreground: #2a1c66;
  --destructive: #c44e2c;
  --border: #ebe9f8;
  --input: #ebe9f8;
  --ring: #a8a2ca;
  --chart-1: #e69327;
  --chart-2: #5cadd1;
  --chart-3: #6265d5;
  --chart-4: #e5b434;
  --chart-5: #e1a726;
  --sidebar: #fcfbff;
  --sidebar-foreground: #0c0c1b;
  --sidebar-primary: #2a1c66;
  --sidebar-primary-foreground: #fcfbff;
  --sidebar-accent: #f6f5ff;
  --sidebar-accent-foreground: #2a1c66;
  --sidebar-border: #ebe9f8;
  --sidebar-ring: #a8a2ca;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --card: #272a4a;
    --card-foreground: #fcfbff;
    --popover: #272a4a;
    --popover-foreground: #fcfbff;
    --primary: #ebe9f8;
    --primary-foreground: #2a1c66;
    --secondary: #4e4e85;
    --secondary-foreground: #fcfbff;
    --muted: #4e4e85;
    --muted-foreground: #a8a2ca;
    --accent: #4e4e85;
    --accent-foreground: #fcfbff;
    --destructive: #e0673f;
    --border: #ffffff1a;
    --input: #ffffff26;
    --ring: #817bbd;
    --chart-1: #7a62d8;
    --chart-2: #63cbc4;
    --chart-3: #e1a726;
    --chart-4: #b964d1;
    --chart-5: #d2704a;
    --sidebar: #2a1c66;
    --sidebar-foreground: #fcfbff;
    --sidebar-primary: #7a62d8;
    --sidebar-primary-foreground: #fcfbff;
    --sidebar-accent: #4e4e85;
    --sidebar-accent-foreground: #fcfbff;
    --sidebar-border: #ffffff1a;
    --sidebar-ring: #817bbd;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
